<!DOCTYPE html>
<%- include('header') -%>
    <div class="head">
      <h1>Welcome to the library, check out our books😁</h1>
    </div>
    <div class=" containers">
<% if (checkings.length > 0) {%>
<% for (let book of checkings) {%>
    <div class="box box-1">
      <div class="bookdiv">
        <h2><%= book.Title %> </h2>
        <p><%= book.Author %></p>
        <img src="images/bookscover.png" alt="bookcoverimg" />
        <div class="formbuttons">
          <form action="/book/updateBook" class="inputRUD" method="post">
            <input
              type="hidden"
              value="<%= book.id %>"
              name="bookID"
              placeholder="Delete"
            />
            <button class="editbookbtn">Edit</button>
          </form>
          <form action="/book/bookDetails" class="inputRUD" method="post">
            <input
              type="hidden"
              value="<%= book.id %>"
              name="bookID"
              placeholder="Delete"
            />
            <button class="viewbookbtn">View Details</button>
          </form>
          <form action="/book/deleteBook" class="inputRUD" method="post">
            <input
              type="hidden"
              value="<%= book.id %>"
              name="bookID"
              placeholder="Delete"
            />
            <button class="creatbookbtn">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <% }%>
    <% }%>
    </div>
<%- include('footer') -%>